---
import Layout from '@/layouts/Layout.astro';
import { Input } from '@/components/ui/input';
---

<Layout>
    <main class="min-h-screen flex justify-center p-4 pt-[150px] bg-[radial-gradient(circle_at_30%_30%,theme(colors.primary/.15),transparent_70%)]">
        <div class="w-3/5 space-y-4">
            <Input class="h-14 text-2xl leading-tight px-3 py-2" />
        </div>
    </main>
</Layout>
