---
import Layout from '@/layouts/Layout.astro';
import { Input } from 'flowbite-svelte';
import { Icon } from 'astro-icon/components';
---

<Layout>
    <main class="min-h-screen flex justify-center p-4 pt-[150px]">
        <div class="w-3/5 space-y-4">
            <Input type="text" class="h-14 text-2xl">
                <Icon name="mdi:magnify" class="size-6" slot="left" />
                <Icon name="mdi:close" class="size-6" slot="right" />
            </Input>
        </div>
    </main>
</Layout>
